<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

<!--部分テンプレート-->
<%= render 'devise/shared/left', user:@user, book:@book %>
<!---->

    </div>
<div class="col-md-8 offset-md-1">

<h1>Users</h1>

<table class="table table-sm">
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 40, 30, format:'jpeg', fallback: "no_image.jpg" %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
  </tr>
  <% end %>
</table>

 </div>
 </div>
</div>