<!--部分テンプレート-->
<%= render 'devise/shared/left', user:@user, book:@book %>
<!---->

<h1>Book detail</h1>

<table>
  <tr>
    <td>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg" %>
      <&= user.name %>
    </td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
   </tr>
</table>