<h2>welcome to<i class="fas fa-book"></i>Bookers!!</h2>
<p>In<i class="fas fa-book"></i><strong>Bookers,</strong></p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>